@charset "utf-8";

/* 반응형웹 */

@media screen and (max-width: 1280px) {
  .logo_wrap {
    left: 231px;
  }

  .toggle_wrap {
    right: 140px;
  }

  .main_header .header_txt,
  .main_header .button-container {
    left: 140px;
  }

  .footer_wrap {
    left: 83px;
  }

  .footer_info_wrap {
    padding-left: 83px;
    padding-right: 50px;
    gap: 60px;
  }
}

@media screen and (max-width: 1140px) {
  .main_menu {
    display: none;
  }

  .menu_inner {
    height: 270px;
  }

  .menu_inner .inner_ul {
    padding-top: 75px;
  }

  .menu_inner .menu_slow {
    display: block;
    position: absolute;
    top: 15px;
    font-weight: 500;
  }

  .inner_wrap hr {
    background-color: #ffffff;
    z-index: 333333;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 60px;
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .main_menu {
    left: -30px;
  }

  .logo_wrap {
    left: 32px;
  }

  .toggle_wrap {
    right: 32px;
  }

  .menu_inner {
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0px;
  }

  .main_header .header_txt,
  .main_header .button-container {
    left: 75px;
  }

  .footer_info_wrap {
    flex-direction: column;
    gap: 30px;
  }
}
