@charset "utf-8";

/* font-size */
:root {
  --big: 40px;
  --menu: 20px;
  --subtitle: 18px;
  --medium: 16px;
}

/* Color */

:root {
  --white: #ffffff;
  --dark: #000000;
  --blue: #184b9f;
  --footer-background: #e9e9e9;
  --footer-txt: #9e9e9e;
  --color-clear: rgba(255, 255, 255, 0);
  --inner-menu: #184c9fdc;
}

/* a Color */

a:link {
  color: var(--white);
}
a:visited {
  color: var(--white);
}

a:hover {
  color: var(--blue);
}

a:active {
  color: var(--blue);
}

/* .inner_wrap a:hover {
  color: var(--blue);
}

.inner_wrap a:active {
  color: var(--blue);
} */

/* 공통(임시) */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1920px;
  margin: 0px auto;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 0;
}

li {
  display: inline-block;
  padding: 0;
  font-size: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--menu);
}

nav,
footer,
.main_header {
  display: block;
}

/* -----Transparent Menu Bar----- */

nav {
  background-color: var(--color-clear);
  max-width: 1920px;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 9999;
}

.nav_wrap {
  position: relative;
  width: 100%;
  height: 80px;
}

.logo_wrap {
  position: absolute;
  top: 25px;
  left: 360px;
  width: 133px;
  height: 30px;
}

.logo_wrap img {
  width: 133px;
  height: 30px;
  filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg)
    brightness(200%) contrast(108%);
}

.toggle_wrap {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 240px;
  cursor: pointer;
}

.main_menu {
  display: block;
  position: absolute;
  right: 380px;
  top: 26px;
  font-weight: 500;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    20px/29px var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.main_menu li {
  margin-left: 60px;
}

/* 선 */
.nav_wrap::before {
  background-color: var(--white);
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 80px;
  opacity: 0.8;
}

/* inner */

.inner_wrap {
  display: none;
}

.inner_wrap.active {
  display: block;
}

.menu_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
  height: 200px;
  z-index: 9990;
  padding-right: 350px;
  padding-bottom: 10px;
  background-color: var(--inner-menu);
  font-size: var(--menu);
  font-weight: 300;
}

.menu_inner .inner_ul {
  padding-top: 15px;
}

.menu_inner .inner_li {
  width: 100px;
}

.menu_inner .inner_li li {
  width: 100px;
}

/* -----header----- */

.main_header {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 900px;
}

/* 캐러셀_이미지 */

.main_header .cell_wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 900px;
  margin: 0;
}

.main_header .container {
  position: absolute;
  width: 100%;
  height: 900px;
}

.main_header .cell {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  filter: brightness(0.6) contrast(1.5);
}

/* 글씨 */

.main_header .header_txt {
  position: absolute;
  top: 462px;
  left: 240px;
  color: var(--white);
}

.main_header .header_txt_eng {
  font-size: 40px;
  font-weight: 700;
  line-height: 58px;
}

.main_header .header_txt_sub {
  font-size: var(--subtitle);
  font-weight: 500;
  line-height: 26px;
  margin-top: 50px;
}

/* 버튼 */

.main_header .button-container {
  position: absolute;
  top: 780px;
  left: 240px;
  white-space: nowrap; /* 줄바꿈 하지않기 */
  line-height: 0;
  font-size: 0;
}

.prev {
  width: 60px;
  height: 40px;
  background: transparent url("../images/Icon-prev.png") 0% 0% no-repeat
    padding-box;
}

.play {
  width: 15px;
  height: 21px;
  margin: 22px 13px 22px 28px; /* 화살표 공백 */
  background: transparent url("../images/Icon-play.png") 0% 0% no-repeat
    padding-box;
  transform: translate(-50%, -50%);
}

.next {
  width: 60px;
  height: 40px;
  background: transparent url("../images/Icon-next.png") 0% 0% no-repeat
    padding-box;
}

.prev,
.play,
.next {
  cursor: pointer;
}

/* -----footer----- */

.footer_logo,
.copyright,
.footer_info {
  display: inline-block;
}

.copyright,
.footer_info {
  color: var(--footer-txt);
}

footer {
  background-color: var(--footer-background);
  position: relative;
  width: 100%;
  min-height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_wrap {
  position: absolute;
  left: 240px;
}

.footer_wrap .footer_logo {
  width: 200px;
  height: 45px;
}

.footer_wrap .copyright {
  font-size: var(--medium);
  margin-left: 20px;
}

.footer_info_wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 158px;
  width: 100%;
  padding-top: 75px;
  padding-left: 240px;
  padding-right: 50px;
}

.footer_info_wrap .footer_info {
  min-height: 76px;
  vertical-align: top;
  font-size: var(--medium);
  font-weight: 300;
  line-height: 26px;
  word-break: keep-all;
}
