@charset "utf-8";

/* font-size */
:root {
  --big: 40px;
  --menu: 20px;
  --subtitle: 18px;
  --medium: 16px;
}

/* Color */

:root {
  --white: #ffffff;
  --dark: #000000;
  --blue: #184b9f;
  --footer-background: #e9e9e9;
  --footer-txt: #9e9e9e;
  --color-clear: rgba(255, 255, 255, 0);
  --inner-menu: #184c9fdc;
}

/* a Color */

nav a:link {
  color: var(--dark);
}

nav a:visited {
  color: var(--dark);
}

nav a:hover {
  color: var(--blue);
}

nav a:active {
  color: var(--blue);
}

.inner_wrap a:link {
  color: var(--white);
}

.inner_wrap a:visited {
  color: var(--white);
}

.inner_wrap a:hover {
  color: var(--white);
}

.inner_wrap a:active {
  color: var(--white);
}

/* 공통 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1920px;
  margin: 0px auto;
}

.main_header ul,
nav ul,
footer ul {
  list-style: none;
  padding: 0;
  font-size: 0;
}

.main_header li,
nav li,
footer li {
  display: inline-block;
  padding: 0;
  font-size: 0;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: var(--menu);
}

nav,
footer,
.header_b {
  display: block;
}

/* White Menu Bar */

nav {
  max-width: 1920px;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 9999;
}

.nav_wrap {
  position: relative;
  width: 100%;
  height: 80px;
  z-index: 9999;
  background-color: var(--white);
}

.logo_wrap {
  position: absolute;
  top: 25px;
  left: 360px;
  width: 133px;
  height: 30px;
}

.logo_wrap img {
  width: 133px;
  height: 30px;
}

.toggle_wrap {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 240px;
  filter: invert(100%);
  cursor: pointer;
}

.main_menu {
  display: block;
  position: absolute;
  right: 380px;
  top: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: var(--menu);
  line-height: 29px;
  letter-spacing: 0px;
}

.main_menu li {
  margin-left: 60px;
}

/* menu underline hover */

.underline {
  position: relative;
}

.underline:after {
  background-color: var(--blue);
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  width: 0px;
  height: 6px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  border-radius: 5px;
}

.underline:hover:after {
  width: 100%;
  opacity: 1;
}

/* 방문한 메뉴 밑줄 고정 */

.visit:after {
  background-color: var(--blue);
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  width: 0px;
  height: 6px;
  margin: 5px 0 0;
  border-radius: 5px;
  width: 100%;
  opacity: 1;
}

.visit a:link,
.visit a:visited {
  color: var(--blue);
}

/* inner */

.inner_wrap hr {
  display: none;
}

.inner_wrap {
  position: absolute;
  top: 80px;
  display: none;
  width: 100%;
  z-index: 9990;
}

.menu_inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
  height: 200px;
  padding-right: 350px;
  padding-bottom: 10px;
  background-color: var(--inner-menu);
  font-weight: 300;
}

.menu_inner .inner_ul {
  padding-top: 15px;
}

.menu_inner .inner_li {
  width: 100px;
  display: none;
}

.menu_inner .inner_li li {
  width: 100px;
}

.menu_inner .menu_slow {
  display: none;
}

/* -----header----- */
.header_b {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 380px;
  padding-top: 80px;
  overflow: hidden;
}

.header_b img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  /* background-position: center top; */
  object-fit: cover;
  filter: brightness(0.7);
}

.title_txt {
  position: absolute;
  top: 200px;
  left: calc(100% / 2 - 75px);
  color: var(--white);
  font-size: var(--big);
  font-weight: 700;
}

/* -----footer----- */

.footer_logo,
.copyright,
.footer_info {
  display: inline-block;
}

.copyright,
.footer_info {
  color: var(--footer-txt);
}

footer {
  background-color: var(--footer-background);
  position: relative;
  width: 100%;
  min-height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_wrap {
  position: absolute;
  left: 240px;
}

.footer_wrap .footer_logo {
  width: 200px;
  height: 45px;
}

.footer_wrap .copyright {
  font-size: var(--medium);
  margin-left: 20px;
}

.footer_info_wrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 158px;
  width: 100%;
  padding-top: 75px;
  padding-left: 240px;
  padding-right: 50px;
}

.footer_info_wrap .footer_info {
  min-height: 76px;
  vertical-align: top;
  font-size: var(--medium);
  font-weight: 300;
  line-height: 26px;
  word-break: keep-all;
}
