@charset "utf-8";

/* 공통 (임시) */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1920px;
  margin: 0px auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}

nav,
footer,
.main_header {
  display: block;
}

/* White 메뉴바 */

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #184b9f;
}

a:active {
  color: #184b9f;
}

nav {
  background-color: #ffffff;
}

nav {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 99;
}

.logo_wrap {
  position: absolute;
  top: 25px;
  left: 360px;
  width: 133px;
  height: 30px;
}

.logo_wrap img {
  width: 133px;
  height: 30px;
}

.toggle_wrap {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 240px;
  filter: invert(100%);
}

.main_menu {
  display: block;
  position: absolute;
  right: 380px;
  top: 26px;
}

.main_menu li {
  margin-left: 60px;
}

.main_menu li:hover::before {
  background-color: #184b9f;
  content: "";
  display: block;
  width: 74px;
  height: 5px;
  position: absolute;
  top: 30px;
}

/* -----header----- */
.header_b {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 300px;
  padding-top: 80px;
  overflow: hidden;
}

.header_b img {
  height: auto;
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
  background-repeat: no-repeat;
  background-position: center top;
  object-fit: cover;
  filter: brightness(0.7);
}

.title_txt {
  position: absolute;
  top: 148px;
  left: calc(100% / 2 - 75px);
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}
