@charset "utf-8";

/* Color */

:root {
  --white: #ffffff;
  --dark: #000000;
  --blue: #184b9f;
  --footer-background: #e9e9e9;
  --footer-txt: #9e9e9e;
  --color-clear: rgba(255, 255, 255, 0);
}

/* a Color */

a:link {
  color: var(--dark);
}

a:visited {
  color: var(--dark);
}

a:hover {
  color: var(--blue);
}

a:active {
  color: var(--blue);
}

/* 공통 (임시) */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  max-width: 1920px;
  margin: 0px auto;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}

nav,
footer,
.main_header {
  display: block;
}

/* White Menu Bar */

nav {
  background-color: var(--white);
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 9999;
}

.logo_wrap {
  position: absolute;
  top: 25px;
  left: 360px;
  width: 133px;
  height: 30px;
}

.logo_wrap img {
  width: 133px;
  height: 30px;
}

.toggle_wrap {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 24px;
  right: 240px;
  filter: invert(100%);
}

.main_menu {
  display: block;
  position: absolute;
  right: 380px;
  top: 26px;
  font-weight: 500;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    20px/29px var(--unnamed-font-family-noto-sans-kr);
  letter-spacing: var(--unnamed-character-spacing-0);
}

.main_menu li {
  margin-left: 60px;
}

.main_menu li:hover::before {
  background-color: var(--blue);
  content: "";
  display: block;
  width: 74px;
  height: 5px;
  position: absolute;
  top: 30px;
  border-radius: 20px;
}

/* -----header----- */
.header_b {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 300px;
  padding-top: 80px;
  overflow: hidden;
}

.header_b img {
  height: auto;
  width: 100%;
  height: 300px;
  /* background-color: aqua; */
  background-repeat: no-repeat;
  background-position: center top;
  object-fit: cover;
  filter: brightness(0.7);
}

.title_txt {
  position: absolute;
  top: 148px;
  left: calc(100% / 2 - 75px);
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}
